<div style="padding-top: 50px;">
  <p>
    We're a multiplayer oriented YouTube channel!
  </p>
  <p>
    Find us using the links below!
  </p>
    <a href="http://www.youtube.com/catalystsgaming">
      <img src="../assets/images/youtube.png" title="YouTube" class="icon" style="height: 10%; width: 10%; margin-right: 50px;" />
    </a>
    <a href="http://www.twitter.com/catalystsgaming">
      <img src="../assets/images/twitter.png" title="Twitter" class="icon" style="height: 10%; width: 10%;  margin-right: 50px;" />
    </a>
    <a href="http://www.facebook.com/catalystsgaming">
      <img src="../assets/images/facebook.png" title="Facebook" class="icon" style="height: 8%; width: 8%;" />
    </a>
</div>