<div style="padding-top: 50px;">
    <p>Catalysts Gaming was founded in 2014. 
        Catalysts was a college club oriented around playing games every week on campus, 
        and some of the people in the club wanted to explore doing "Let's Play" style videos together.</p>
        <p>People that were interested could ask Jacob to be part of the team, and then they would pick a game and set up a time to record. 
            Catalysts Gaming's first series was Super Mario 3D World, which featured Jade (Rage), Alec (Hatz), Troy (Shika), and Jacob (Blue).
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aL5EadpDGSk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>The series proved to be a fun project for the college club. People enjoyed seeing the videos as they were put out, 
            and the club would sometimes watch them during the meetings as a group.</p>
            <p>The next series, and by far the most popular, was Castle Crashers. Troy, Jacob, and Jade returned as 3 of the players. Instead of Alec, Joe joined in the fun.
                This series went on to be extremely popular, with the first episode breaking 1 million views over the next few years.
            </p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/AEPwpTk-7UE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>As time went on and more videos were posted, some new members joined the team (including Brady and Murphy).
                Everyone on the team tried to help out with recording and editing as much as possible, which led to a pretty 
                consistent upload schedule. There were gaps once in a while when everyone was busy, but pretty much since 
                2014 the channel has put out videos fairly regularly.
            </p>
            <p>The team got involved with live streaming in 2018, reaching affiliate on Twitch within a few weeks. The focus
                was generally on multiplayer games, but Joe and Jacob also played through some single player games on occasion.
                Eventually the decision was made to focus on YouTube instead of Twitch, so now the team streams on YouTube weekly
                 (excluding breaks where everyone is busy!)
            </p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7Aw2U3BDfrc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>If you've ever watched a video of ours, we thank you from the bottom of our hearts. This project has always been
                about passion for gaming and the shared experiences we can enjoy through that medium. We have quite the backlog of
                videos, so if you're looking for something to watch feel free to check out some of our content.
            </p>
            <p>As always, we care about what you guys think. If you want us to play a game, leave a comment on one of our videos or
                catch a livestream and let us know! We love hearing from the fans, and are always open to feedback about our future
                content.
            </p>
            <p>Thanks a million.</p>
            <p>-The Catalysts Gaming Team</p> 
</div>